#container{
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: white;
}

.click-title{
    color: white;
    background: linear-gradient(90deg, white, gray, black);
    box-shadow: 0 0 30px white;
}

body{
    background: linear-gradient(90deg, black, gray, white);
}

.words, .count{
    font-size: 20px;
}

button{
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
}

button:hover{
    color: purple;
    background-color: violet;
    box-shadow: 0 0 30px pink;
    border: none;
}

#congrats1{
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 30px white;
}

#congrats2{
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 30px yellow;
}

#congrats3{
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 30px skyblue;
}